*{      /*la estrellita significa todos los elementos*/
    margin: 0;
    padding: 0;
    text-align: center;
}


body{
    background-color: rgb(211, 204, 204) ;
}
.Fotoportada    {
    margin: 0 10%;
    align-items: center;
}
h3{
    font-style: constantia;
}


/*indice*/
.indice{
    margin-bottom: 4px;
    background-color: beige;
}
li{
    list-style: none;
}
.indice ul li{
    display: inline-block;             /*poner en linea horizontal*/
    margin: 20px 50px;   
    /* vertical | horizontal*/
}
.indice ul{
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
.indice a:hover{
    border-bottom: 1px solid black
    /*anchura | estilo | color*/
}
.Seleccionado a{
    color:rgb(182, 131, 139);
    outline-style:outset; 
    padding: 5px;
}



/*Contenido*/
.Contenido{
    margin: 0 25%;
    background-color: beige;
}
.Contenido h3 {
    text-align: center;
}
.montop4 {
    margin-top: 5px;
}
.montop4 img{
    width: 250px;
}
#prim article{
    display: inline-block;
}
#seg article{
    display: inline-block;
}

/*Analyse*/
.text img{
    float: left;
    vertical-align: middle;
}
.text p{
    margin-top: 50px;
}
.text .boton{
    width: 30px;
    position: absolute;    
    right: 25%;
    top: 85%;
}