body {
    margin-left: 150px;
    margin-right: 150px;
    height: 100%;
    background-color: #E6CAD2;
    margin-bottom: 0;
}

/* indice */
.indice{
    margin-bottom: 15px;
    background-color:#635756;
}
nav li {
    list-style: none;
}
.indice ul a {
    font-family: 'Candara';
    font-style: oblique;
    font-weight: bolder;
    font-size: larger;
}
.indice ul li {
    display: inline-block;
    margin: 15px 25px;
}
.indice ul {
    text-align: center;
}
a {
    color: #A18D8A;
    text-decoration: none;
}
.indice a:hover {
    border-bottom: 2px solid #A18D8A;
}
.Seleccionado a{
    color: #F0CECE;
}

/* contenido */
.Contenido {
    margin-top: -16px;
    background-color: #C9B1AD;
} 
.Analisis {
  margin-bottom: -50px;
}
/* titulos */
h2 {
    text-align: center;
    font-family: 'Candara', sans-serif;
    font-style: oblique;
    font-weight: bolder;
}

h3{
  text-align: center;
  font-style: oblique;
  font-weight: bolder;
  font-family: 'Candara';
  font-size: 22px;
}

h4{
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0px;
  font-family: 'Candara';
  font-size: 20px;
}

/*Escritura en general*/
p {
  font-family: 'Candara' ;
  font-weight: bold;
  text-align: left;
  color: rgb(24, 23, 23);
}
ul {
  font-family: 'Calibri Light';
}

/*Fichas en analyses*/

.colums p h4 {
  margin-top: auto;
  font-size: 18px;
}

.sypnosis p {
  vertical-align: center;
  font-size: 18px;
}

.fotoanalisis {
  object-fit: scale-down;
}

img {
  vertical-align: center;
}

/* Contacto */
.Contacto {
  padding: 5% 25%;
}


/* Mi top 4 */
.mitop4 article{
    text-align: center;
}
.mitop4 img {
    width: 25%;
    margin: 2%;
}
.mitop4 h3 {
  margin: 2% 15%;
  display: inline-block;
}
.mitop4 ul {
    margin: 2% 0%;
    display: inline-block;
}
.mitop4 li {
    text-align: justify;
    padding: 3px;
}
#left {
    margin-right: 20%;
}
#right {
    margin-left: 0%;
    padding-right: 5%;
}

#leftContact {
    margin-right: 20%;
    list-style: none;
    display: inline-block;
}
#rightContact {
    list-style: none;
    margin-left: 0%;
    padding-right: 5%;
    display: inline-block;
}

.colums{
  display: flex;
}
#columList{
  margin-left: 15%;
}

/* footer */
footer {
    background-color:#635756;
}
footer ul {
  display: inline-block;
  list-style: none;
  text-align: center;
  margin-left: 20%;
}
footer ul li {
  color: #A18D8A
}

/* Glider NO TOCAR BAJO NINGUNA CIRCUNSTANCIA */
.Analisis {
  padding: 0 20%;
}
.glider-contain {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.glider {
  /*añadido'*/
  width: 60%;
  border: 3px groove;
  margin: 50px auto;
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  transform: translateZ(0);
}
.glider img {
    width: 100%;
}
.glider-track {
  transform: translateZ(0);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
}
.glider.draggable {
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}
.glider.draggable .glider-slide img {
  user-select: none;
  pointer-events: none;
}
.glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.glider-slide {
  user-select: none;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.glider-slide img {
  max-width: 100%;
}
.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}
.glider-prev,.glider-next {
  user-select: none;
  position: absolute;
  outline: none;
  background: none;
  padding: 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  left: -23px;
  border: 0;
  top: 30%;
  cursor: pointer;
  color: #666;
  opacity: 1;
  line-height: 1;
  transition: opacity .5s cubic-bezier(.17,.67,.83,.67),
              color .5s cubic-bezier(.17,.67,.83,.67);
}
.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
  color: #a89cc8;
}
.glider-next {
  right: -23px;
  left: auto;
}
.glider-next.disabled,
.glider-prev.disabled {
  opacity: .25;
  color: #666;
  cursor: default;
}
.glider-slide {
  min-width: 150px;
}
.glider-hide {
  opacity: 0;
}
.glider-dots {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.glider-dot {
  border: 0;
  padding: 0;
  user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: #ccc;
  border-radius: 999px;
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
}
.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: #a89cc8;
}
@media(max-width: 36em){
  .glider::-webkit-scrollbar {
    opacity: 0;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }
  .glider::-webkit-scrollbar-thumb {
    opacity: 0;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    box-shadow: 0 0 1px rgba(255,255,255,.25);
  }
}